{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Task {% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Task title"
               value="{{ request.form['title'] }}">
        <br>

        <label for="date">Date</label>
        <br>
        <input type="date" name="date"
               placeholder="Task date"
               value="{{ request.form['date'] }}">
        <br>

        <label for="content">Task Content</label>
        <br>
        <textarea name="content"
                  placeholder="Task content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}