{% extends 'base.html' %}

{% block title %}My Tasks{% endblock %}

{% block content %}
    {% if tasks %}
		{% for task in tasks %}
	        <div class="task" id="{{ task.title }}">
	            <h1>{{ task.title }}</h1>
	            <p>{{ task.date }}</p>
	            <p>{{ task.description }}</p>
	            <button type="button" class="delete_task">Удалить задание?</button>
	        </div>
	    {% endfor %}
	{% endif %}
	<br>
	<button type="button" class="create_task">Добавить?</button>
{% endblock %}
{% block scripts %}
	{% load static %}
	<script src="{% static 'task_viewer/js/tasks_page.js' %}"></script>
{% endblock %}
